# Housing Crisis in Canada

## Overview
This project aims to analyze the housing crisis in Canada, exploring various factors contributing to the crisis and potential solutions.

## Installation
To run this project, ensure you have Python installed on your system. You'll also need to install the following Python libraries:
- NumPy
- pandas

You can install these libraries via pip:

```bash
pip install numpy pandas
```

## Usage
To use this project, follow these steps:
1. Clone this repository to your local machine.
2. Install the required dependencies as mentioned in the Installation section.
3. Open the Jupyter Notebook (or Python script) containing the analysis.
4. Execute the code cells to perform the analysis and visualize the results.

## Data
This analysis utilizes two datasets downloaded from Government of Canada's open data portal, related to the housing crisis in Canada. Please download the following datasets and place them in the appropriate directory:
1. [immigrant-status-and-period-of-immigration-e](https://open.canada.ca/data/en/dataset/9adddd8a-e15b-497c-86af-641457a78bea/resource/255012de-7f8a-4f5e-b62a-bc438dc89543)
2. [18100205](https://open.canada.ca/data/en/dataset/324befd1-893b-42e6-bece-6d30af3dd9f1)

## Analysis
The analysis includes the following steps:
- Data preprocessing
- Exploratory data analysis
- Statistical analysis

## Results
The key findings from the analysis will be summarized here.

## Future Work
Potential future enhancements or additional analyses for this project may include:
- Incorporating more datasets for a comprehensive analysis
- Building predictive models to forecast housing trends
- Exploring policy recommendations to address the housing crisis

## Contributors
- Muhammad Hunain Muneer

## License
MIT License

## Contact
For questions, feedback, or contributions, please contact hunain.muneer1995@gmail.com

In [ ]:
### Thought on just the immigration data. Housing data is not that complicated (just need to remove unncessary columns)

# NOTE : Adding two new columns "timeframe" $ "No. of Immigrants (relative to time period) which will show which timeframe of immigration ------> (before 1996) (1696 to 2005)  (2006 to 2011)

# Expected dataframe for immigration_data 

# First 2 rows:
#------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#|||    Immigrant status and period of immigration   |          Total - Immigrant status and period of immigration | Non-immigrants | Immigrants | No. of Immigrants (relative to time period)  |     timeframe       |||
#------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 
#             Canada                                 |                         27259525 	                       |    20543700    |   6398855  |                  3837770                     |    before 1996      |||
 
#   	      Canada                                 |                         27259525                            |    20543700    |   6398855  |                  1620885                     |    1996 - 2005      |||

In [ ]:
### Thought 1   (Only the immigrants data that is in 3 time frames (before 1996) (1196 to 2005)  (2006 to 2011)) Also Total, Non-immigrants and Immigrants that only contain the total number as of 2011

# Expected dataframe after merging the housing_data and immigration_data 

# First 2 rows:
#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#||| REF_DATE | Date     | GEO    | DGUID             | New housing price indexes | UOM        | VALUE | STATUS | Total - Immigrant status and period of immigration | Non-immigrants | Immigrants | No. of Immigrants (relative to time period) |||
#---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# 1981-01-01  |  before  | Canada | 2016A000011124	  | Total (house and land)    | Index, 	   | 38.2  |  NaN   |                27259525	                         |    20543700    |   6398855  |                  3837770                    |||
#                 1996   |                                                        | 201612=100 |
 
# 1981-01-01  |  before	 | Canada | 2016A000011124    |     House only	          | Index,     |  36.1 |  NaN   |   	         27259525                            |     20543700   |   6398855  |                  3837770                    |||
#                  1996  |                                                        | 201612=100 |

In [ ]:
### Thought 2  Only 1 column that will be based on the timeframe (Only the immigrants data that is in 3 time frames (before 1996) (1996 to 2005)  (2006 to 2011))

# Expected dataframe after merging the housing_data and immigration_data 

# First 2 rows:
#----------------------------------------------------------------------------------------------------------------------------------------------------------------
#||| REF_DATE | Date     | GEO    | DGUID             | New housing price indexes | UOM        | VALUE | STATUS | No. of Immigrants (relative to time period) |||
#----------------------------------------------------------------------------------------------------------------------------------------------------------------

# 1981-01-01  |  before  | Canada | 2016A000011124	  | Total (house and land)    | Index, 	   | 38.2  |  NaN   |                3837770                      |||
#                 1996   |                                                        | 201612=100 |
 
# 1981-01-01  |  before	 | Canada | 2016A000011124    |     House only	          | Index,     |  36.1 |  NaN   |                3837770                      |||
#                  1996  |                                                        | 201612=100 |

###  Loading the two datasets using the pandas data frames

In [1]:
# Loading the housing data

import pandas as pd
import os

# Construct the file path relative to the notebook's directory
file_path = os.path.abspath("../data/raw/housing-index/18100205.csv")

try:
    housing_data = pd.read_csv(file_path)
    # Proceed with further processing of the dataframe
except FileNotFoundError:
    print("Error: File not found. Please ensure the file path is correct.")

#checking the first few rows of the data
housing_data.head()

,REF_DATE,GEO,DGUID,New housing price indexes,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1981-01,Canada,2016A000011124,Total (house and land),"Index, 201612=100",347,units,0,v111955442,1.1,38.2,NaN,NaN,NaN,1
1,1981-01,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,36.1,NaN,NaN,NaN,1
2,1981-01,Canada,2016A000011124,Land only,"Index, 201612=100",347,units,0,v111955444,1.3,40.6,E,NaN,NaN,1
3,1981-01,Atlantic Region,2016A00011,Total (house and land),"Index, 201612=100",347,units,0,v111955445,2.1,NaN,..,NaN,NaN,1
4,1981-01,Atlantic Region,2016A00011,House only,"Index, 201612=100",347,units,0,v111955446,2.2,NaN,..,NaN,NaN,1

In [2]:
# Loading the immigration data

file_path_immigration = os.path.abspath("../data/raw/immigrant.csv")

try:
    # Try reading the CSV files with different encodings until successful
    immigration_data = pd.read_csv(file_path_immigration, encoding='latin1')
    # Proceed with further processing of the dataframes
except FileNotFoundError:
    print("Error: File not found. Please ensure the file paths are correct.")
except UnicodeDecodeError:
    print("Error: Unable to decode the file. Please check the file's encoding.")

#checking the first few rows of the data
immigration_data.head()

,"Table Title: Immigrant Status and Period of Immigration (6) for the Population Aged 15 Years and Over, in Private Households of Canada, Provinces, Territories and 11 selected Census Metropolitan Areas (CMA) (25), 2011 National Household Survey, Statistics Canada",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Immigrant status and period of immigration,Canada,Newfoundland and Labrador,Prince Edward Island,Nova Scotia / Nouvelle-Écosse,New Brunswick / Nouveau-Brunswick,Quebec,Ontario,Manitoba,Saskatchewan,...,Halifax CMA,Québec City CMA,Montréal CMA,Ottawa - Gatineau CMA,Toronto CMA,Winnipeg CMA,Regina CMA,Calgary CMA,Edmonton CMA,Vancouver CMA
1,Total - Immigrant status and period of immigra...,27259525,431045,114195,768060,622440,6474590,10473665,946940,812505,...,325050,634200,3120060,1005005,4546140,590295,170070,976570,935285,1926230
2,Non-immigrants,20543700,421170,107085,717140,593840,5511745,6912395,774365,744685,...,292010,602990,2278110,773525,2047970,451125,149025,665410,698240,1009070
3,Immigrants,6398855,8315,6415,44660,25890,902990,3442895,165005,60500,...,28685,28605,789440,220640,2416425,133380,19055,290760,216460,870035
4,Before 1996,3837770,5415,3455,28690,16530,496790,2148600,90000,29120,...,16775,11985,439575,130700,1408665,74005,9415,145920,123735,486590

**-> housing_data is loaded in correct format but the immigration_data has to be changed to horizontal data from vertical**

**-> We want to have the areas/province/metropolitan areas in the same column and can have same data type for the columns in our dataset. Currently we have string and numerical data in the same column as show above**

In [3]:
# Converting data form horizontal view to vertical view so all the areas are in the same column
immigration_data = immigration_data.transpose()
immigration_data.head()

,0,1,2,3,4,5,6
"Table Title: Immigrant Status and Period of Immigration (6) for the Population Aged 15 Years and Over, in Private Households of Canada, Provinces, Territories and 11 selected Census Metropolitan Areas (CMA) (25), 2011 National Household Survey, Statistics Canada",Immigrant status and period of immigration,Total - Immigrant status and period of immigra...,Non-immigrants,Immigrants,Before 1996,1996 to 2005,2006 to 2011
Unnamed: 1,Canada,27259525,20543700,6398855,3837770,1620885,940195
Unnamed: 2,Newfoundland and Labrador,431045,421170,8315,5415,1215,1690
Unnamed: 3,Prince Edward Island,114195,107085,6415,3455,920,2035
Unnamed: 4,Nova Scotia / Nouvelle-Écosse,768060,717140,44660,28690,7485,8485

In [4]:
# The index is not correct so we will drop it from the dataset
# We will use reset_index() method to drop the index and we want to change the dataset itself and will set the inplace parameter to True

immigration_data.reset_index(drop= True, inplace= True)
immigration_data.head()

,0,1,2,3,4,5,6
0,Immigrant status and period of immigration,Total - Immigrant status and period of immigra...,Non-immigrants,Immigrants,Before 1996,1996 to 2005,2006 to 2011
1,Canada,27259525,20543700,6398855,3837770,1620885,940195
2,Newfoundland and Labrador,431045,421170,8315,5415,1215,1690
3,Prince Edward Island,114195,107085,6415,3455,920,2035
4,Nova Scotia / Nouvelle-Écosse,768060,717140,44660,28690,7485,8485

In [5]:
# The column in our dataset is wrong as we want the first row to be our columns
# Current columns

immigration_data.columns

RangeIndex(start=0, stop=7, step=1)

In [6]:
# Setting the frist row as the columns of the dataframe

immigration_data.columns = immigration_data.iloc[0]
immigration_data.head()

,Immigrant status and period of immigration,Total - Immigrant status and period of immigration,Non-immigrants,Immigrants,Before 1996,1996 to 2005,2006 to 2011
0,Immigrant status and period of immigration,Total - Immigrant status and period of immigra...,Non-immigrants,Immigrants,Before 1996,1996 to 2005,2006 to 2011
1,Canada,27259525,20543700,6398855,3837770,1620885,940195
2,Newfoundland and Labrador,431045,421170,8315,5415,1215,1690
3,Prince Edward Island,114195,107085,6415,3455,920,2035
4,Nova Scotia / Nouvelle-Écosse,768060,717140,44660,28690,7485,8485

In [7]:
# Removing the first row from the dataset since we have that as our columns

immigration_data = immigration_data.iloc[1:]
immigration_data.head()

,Immigrant status and period of immigration,Total - Immigrant status and period of immigration,Non-immigrants,Immigrants,Before 1996,1996 to 2005,2006 to 2011
1,Canada,27259525,20543700,6398855,3837770,1620885,940195
2,Newfoundland and Labrador,431045,421170,8315,5415,1215,1690
3,Prince Edward Island,114195,107085,6415,3455,920,2035
4,Nova Scotia / Nouvelle-Écosse,768060,717140,44660,28690,7485,8485
5,New Brunswick / Nouveau-Brunswick,622440,593840,25890,16530,3970,5395

In [8]:
# checking the columns of the immigration dataset

immigration_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 1 to 25
Data columns (total 7 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Immigrant status and period of immigration          25 non-null     object
 1   Total - Immigrant status and period of immigration  25 non-null     object
 2     Non-immigrants                                    25 non-null     object
 3     Immigrants                                        25 non-null     object
 4       Before 1996                                     25 non-null     object
 5       1996 to 2005                                    25 non-null     object
 6       2006 to 2011                                    25 non-null     object
dtypes: object(7)
memory usage: 1.5+ KB

### Both of the datasets (housing_date & immigration_data) are in correct format

**Lets look at the columns of the datasets**

In [9]:
# columns of the housing_data

housing_data.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'New housing price indexes', 'UOM',
       'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE',
       'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [10]:
# columns of the immigration_data

immigration_data.columns

Index(['Immigrant status and period of immigration',
       'Total - Immigrant status and period of immigration',
       '  Non-immigrants', '  Immigrants', '    Before 1996',
       '    1996 to 2005', '    2006 to 2011'],
      dtype='object', name=0)

In [11]:
# immigration_date has some issues
# Notice there are leading and trailing white spaces in the names of our columns which will make it difficult to access them
# Removing the leading and trailing white spaces

immigration_data.columns = immigration_data.columns.str.strip()
immigration_data.columns

Index(['Immigrant status and period of immigration',
       'Total - Immigrant status and period of immigration', 'Non-immigrants',
       'Immigrants', 'Before 1996', '1996 to 2005', '2006 to 2011'],
      dtype='object', name=0)

In [12]:

immigration_data['Total - Immigrant status and period of immigration'] = pd.to_numeric(immigration_data['Total - Immigrant status and period of immigration'])
immigration_data['Non-immigrants'] = pd.to_numeric(immigration_data['Non-immigrants'])
immigration_data['Immigrants'] = pd.to_numeric(immigration_data['Immigrants'])
immigration_data['Before 1996'] = pd.to_numeric(immigration_data['Before 1996'])
immigration_data['1996 to 2005'] = pd.to_numeric(immigration_data['1996 to 2005'])
immigration_data['2006 to 2011'] = pd.to_numeric(immigration_data['2006 to 2011'])

immigration_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 1 to 25
Data columns (total 7 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Immigrant status and period of immigration          25 non-null     object
 1   Total - Immigrant status and period of immigration  25 non-null     int64
 2   Non-immigrants                                      25 non-null     int64
 3   Immigrants                                          25 non-null     int64
 4   Before 1996                                         25 non-null     int64
 5   1996 to 2005                                        25 non-null     int64
 6   2006 to 2011                                        25 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.5+ KB

In [13]:
immigration_data['Immigrant status and period of immigration'] = immigration_data['Immigrant status and period of immigration'].apply(str)
immigration_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 1 to 25
Data columns (total 7 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Immigrant status and period of immigration          25 non-null     object
 1   Total - Immigrant status and period of immigration  25 non-null     int64
 2   Non-immigrants                                      25 non-null     int64
 3   Immigrants                                          25 non-null     int64
 4   Before 1996                                         25 non-null     int64
 5   1996 to 2005                                        25 non-null     int64
 6   2006 to 2011                                        25 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.5+ KB

### Joining both datasets

**In order to join the two datasets we need a similar column/s**

In [15]:
# We need to make the dates similar in both datasets
# Since we have limited information in the immigration dataset, hence we will convert the dates in the housing data

# First we will convert the REF_DATE to datetime type
housing_data['REF_DATE'] = pd.to_datetime(housing_data['REF_DATE'])
housing_data['REF_DATE']

0       1981-01-01
1       1981-01-01
2       1981-01-01
3       1981-01-01
4       1981-01-01
           ...
61915   2023-12-01
61916   2023-12-01
61917   2023-12-01
61918   2023-12-01
61919   2023-12-01
Name: REF_DATE, Length: 61920, dtype: datetime64[ns]

In [16]:
# Now we will change the dates to match the dates in the immigration data
# Any dates that comes before 1996 -> before 1996  
# Any dates between 1996 and 2005 -> 1996 to 2005
# Any dates between 2006 and 2011 -> 2006 to 2011

housing_data['Date'] = 'Before 1996'
housing_data.loc[(housing_data['REF_DATE'] >= '1996-01-01') & (housing_data['REF_DATE'] < '2006-01-01'), 'Date'] = '1996 to 2005'
housing_data.loc[(housing_data['REF_DATE'] >= '2006-01-01') & (housing_data['REF_DATE'] < '2012-01-01'), 'Date'] = '2006 to 2011'
housing_data.loc[(housing_data['REF_DATE'] >= '2012-01-01'), 'Date'] = 'After 2011'

# checking the unique values in the Data column to see if they are same as in the immigration data
# There is one extra value for the Date column i.e."After 2011" 
# This extra value will help us to discard that timeframe since it is not in our immigration data
housing_data['Date'].unique()

array(['Before 1996', '1996 to 2005', '2006 to 2011', 'After 2011'],
      dtype=object)

In [17]:
# Lets remove the columns in the housing data that does not contain any meaningful data for our analysis

housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61920 entries, 0 to 61919
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   REF_DATE                   61920 non-null  datetime64[ns]
 1   GEO                        61920 non-null  object
 2   DGUID                      60372 non-null  object
 3   New housing price indexes  61920 non-null  object
 4   UOM                        61920 non-null  object
 5   UOM_ID                     61920 non-null  int64
 6   SCALAR_FACTOR              61920 non-null  object
 7   SCALAR_ID                  61920 non-null  int64
 8   VECTOR                     61920 non-null  object
 9   COORDINATE                 61920 non-null  float64
 10  VALUE                      51094 non-null  float64
 11  STATUS                     28132 non-null  object
 12  SYMBOL                     0 non-null      float64
 13  TERMINATED                 0 non-null      float64
 14  DECIMALS                   61920 non-null  int64
 15  Date                       61920 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(8)
memory usage: 7.6+ MB

In [18]:
# The "SYMBOL" and "TERMINATED" columns are completely null, so we will drop them from the dataframe

col_to_drop = ['SYMBOL', 'TERMINATED']
housing_data.drop(columns = col_to_drop, inplace= True) 
housing_data.head()

,REF_DATE,GEO,DGUID,New housing price indexes,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,DECIMALS,Date
0,1981-01-01,Canada,2016A000011124,Total (house and land),"Index, 201612=100",347,units,0,v111955442,1.1,38.2,NaN,1,Before 1996
1,1981-01-01,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,36.1,NaN,1,Before 1996
2,1981-01-01,Canada,2016A000011124,Land only,"Index, 201612=100",347,units,0,v111955444,1.3,40.6,E,1,Before 1996
3,1981-01-01,Atlantic Region,2016A00011,Total (house and land),"Index, 201612=100",347,units,0,v111955445,2.1,NaN,..,1,Before 1996
4,1981-01-01,Atlantic Region,2016A00011,House only,"Index, 201612=100",347,units,0,v111955446,2.2,NaN,..,1,Before 1996

In [19]:
# Lets take a look at the "DECIMALS" column to get a better idea

housing_data['DECIMALS'].unique()

array([1], dtype=int64)

In [20]:
# The "DECIMALS" columns does not provide any useful context and has the same value throughout the dataframe
# We will drop "DECIMALS" columns since its equal for all rows and only tells the values are in 1 decimal point

housing_data.drop(columns= 'DECIMALS', inplace= True)
housing_data.head()

,REF_DATE,GEO,DGUID,New housing price indexes,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,Date
0,1981-01-01,Canada,2016A000011124,Total (house and land),"Index, 201612=100",347,units,0,v111955442,1.1,38.2,NaN,Before 1996
1,1981-01-01,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,36.1,NaN,Before 1996
2,1981-01-01,Canada,2016A000011124,Land only,"Index, 201612=100",347,units,0,v111955444,1.3,40.6,E,Before 1996
3,1981-01-01,Atlantic Region,2016A00011,Total (house and land),"Index, 201612=100",347,units,0,v111955445,2.1,NaN,..,Before 1996
4,1981-01-01,Atlantic Region,2016A00011,House only,"Index, 201612=100",347,units,0,v111955446,2.2,NaN,..,Before 1996

### Lets clean the columns that we are merging our data on:

In [21]:
# Lets look at the provinces in our immigration dataset

immigration_data['Immigrant status and period of immigration'].unique()

array(['Canada ', '  Newfoundland and Labrador', '  Prince Edward Island',
       '  Nova Scotia / Nouvelle-Écosse',
       '  New Brunswick / Nouveau-Brunswick', '  Quebec', '  Ontario',
       '  Manitoba', '  Saskatchewan', '  Alberta', '  British Columbia',
       '  Yukon', '  Northwest Territories', '  Nunavut',
       "St. John's CMA", 'Halifax CMA', 'Québec City CMA', 'Montréal CMA',
       'Ottawa - Gatineau CMA', 'Toronto CMA', 'Winnipeg CMA',
       'Regina CMA', 'Calgary CMA', 'Edmonton CMA', 'Vancouver CMA'],
      dtype=object)

In [22]:
# Notice there are two provinces that are named in French as well as in English. We need only the Engish names so we can match the columns with other data

# Removing the French names for the provinces

immigration_data['Immigrant status and period of immigration'] = immigration_data['Immigrant status and period of immigration'].str.replace(r'\s*/\s.+', '')
immigration_data['Immigrant status and period of immigration'].unique()

C:\Users\hunai\AppData\Local\Temp\ipykernel_19036\873976106.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  immigration_data['Immigrant status and period of immigration'] = immigration_data['Immigrant status and period of immigration'].str.replace(r'\s*/\s.+', '')

array(['Canada ', '  Newfoundland and Labrador', '  Prince Edward Island',
       '  Nova Scotia', '  New Brunswick', '  Quebec', '  Ontario',
       '  Manitoba', '  Saskatchewan', '  Alberta', '  British Columbia',
       '  Yukon', '  Northwest Territories', '  Nunavut',
       "St. John's CMA", 'Halifax CMA', 'Québec City CMA', 'Montréal CMA',
       'Ottawa - Gatineau CMA', 'Toronto CMA', 'Winnipeg CMA',
       'Regina CMA', 'Calgary CMA', 'Edmonton CMA', 'Vancouver CMA'],
      dtype=object)

In [23]:
# There are leading and trailing spaces in the provinces; need to clean them up

immigration_data['Immigrant status and period of immigration'] = immigration_data['Immigrant status and period of immigration'].str.strip()
immigration_data['Immigrant status and period of immigration'].unique()

array(['Canada', 'Newfoundland and Labrador', 'Prince Edward Island',
       'Nova Scotia', 'New Brunswick', 'Quebec', 'Ontario', 'Manitoba',
       'Saskatchewan', 'Alberta', 'British Columbia', 'Yukon',
       'Northwest Territories', 'Nunavut', "St. John's CMA",
       'Halifax CMA', 'Québec City CMA', 'Montréal CMA',
       'Ottawa - Gatineau CMA', 'Toronto CMA', 'Winnipeg CMA',
       'Regina CMA', 'Calgary CMA', 'Edmonton CMA', 'Vancouver CMA'],
      dtype=object)

In [24]:
# Lets remove any leading and trailing spaces in merging column in the Housing Dataset as well

housing_data['GEO'] = housing_data['GEO'].str.strip()

In [25]:
# We will perfrom the JOIN and will merge both datasets on the time frame and Area/GEO

# Creating a new dataframe for the join
housing_immigration_merged = pd.merge(housing_data, immigration_data, left_on='GEO', right_on='Immigrant status and period of immigration', how='inner')

In [26]:
# Lets check how many Provinces we have in our merged dataset (Canada has 10 provinces)

housing_immigration_merged['GEO'].unique()

array(['Canada', 'Newfoundland and Labrador', 'Prince Edward Island',
       'Nova Scotia', 'New Brunswick', 'Quebec', 'Ontario', 'Manitoba',
       'Saskatchewan', 'Alberta', 'British Columbia'], dtype=object)

In [27]:
# We can see all the 10 provinces are in our combined dataset and as well as an overall value for Canada

# Let's take a look at the rows of our new dataframe
housing_immigration_merged.head()

,REF_DATE,GEO,DGUID,New housing price indexes,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,Date,Immigrant status and period of immigration,Total - Immigrant status and period of immigration,Non-immigrants,Immigrants,Before 1996,1996 to 2005,2006 to 2011
0,1981-01-01,Canada,2016A000011124,Total (house and land),"Index, 201612=100",347,units,0,v111955442,1.1,38.2,NaN,Before 1996,Canada,27259525,20543700,6398855,3837770,1620885,940195
1,1981-01-01,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,36.1,NaN,Before 1996,Canada,27259525,20543700,6398855,3837770,1620885,940195
2,1981-01-01,Canada,2016A000011124,Land only,"Index, 201612=100",347,units,0,v111955444,1.3,40.6,E,Before 1996,Canada,27259525,20543700,6398855,3837770,1620885,940195
3,1981-02-01,Canada,2016A000011124,Total (house and land),"Index, 201612=100",347,units,0,v111955442,1.1,38.7,NaN,Before 1996,Canada,27259525,20543700,6398855,3837770,1620885,940195
4,1981-02-01,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,36.5,NaN,Before 1996,Canada,27259525,20543700,6398855,3837770,1620885,940195

### ******************************************************************************************